@import '../scss/patternlib-fonts.scss';
$color-artic-blue: #003057;
$color-yellow: #ffd000;
$color-blue: #2e8de5;
$color-black: #000000;
$color-white: #ffffff;
$color-steel-100: #f0f3f6;
$color-steel-200: #e5e8ed;
$color-steel-300: #d3d8dd;
$color-steel-400: #bdc4ca;
$color-steel-500: #9ea4ab;
$color-steel-600: #888e94;
$color-steel-700: #6b7278;
$color-steel-800: #51585d;
$color-steel-900: #3a4046;
$color-clay: #eb6f24;
$color-clay-light: #f89939;
$color-clay-dark: #b0542e;
$color-leaf: #2ea675;
$color-leaf-light: #5dbf90;
$color-leaf-dark: #33825e;
$color-slate: #5789a4;
$color-slate-light: #8bb2c2;
$color-slate-dark: #3b6579;
$color-terra: #aa8d6d;
$color-terra-light: #d1b795;
$color-terra-dark: #846554;
$color-ruby: #e34858;
$color-ruby-light: #f56e7c;
$color-ruby-dark: #ad0b37;
$color-warning: #e52828;
$color-warning-light: #f56e7c;
$color-success: #43a017;
$color-success-light: #73d95f;
$color-font-base: #000000;
$font-liebherr-text-regular: LiebherrText-Regular, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-liebherr-text-regular-italic: LiebherrText-RegularItalic, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-liebherr-text-medium: LiebherrText-Medium, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-liebherr-text-medium-italic: LiebherrText-MediumItalic, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-liebherr-text-condensed-regular: LiebherrText-CondensedRegular, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-liebherr-text-condensed-bold: LiebherrText-CondensedBold, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-liebherr-text-bold: LiebherrText-Bold, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-liebherr-text-bold-italic: LiebherrText-BoldItalic, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-liebherr-head-regular: LiebherrHead-Regular, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-liebherr-head-black: LiebherrHead-Black, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$liebherr-icons: "Liebherr-Icons";
$shadow-elevation-basic: 0px 3px 5px rgba(58, 64, 70, 0.1);
$shadow-elevation-middle: 0px 10px 50px 10px rgba(0, 0, 0, 0.17);
$size-font-copy-regular: 18px;
$size-font-copy-regular-small: 16px;
$size-font-copy-regular-smaller: 14px;
$size-font-copy-regular-mobile: 18px;
$size-font-copy-regular-small-mobile: 16px;
$size-font-copy-regular-smaller-mobile: 14px;
$size-font-copy-bold: 18px;
$size-font-copy-bold-small: 16px;
$size-font-copy-bold-smaller: 14px;
$size-font-copy-bold-mobile: 18px;
$size-font-copy-bold-small-mobile: 16px;
$size-font-copy-bold-smaller-mobile: 14px;
$size-font-h-6-bold: 18px;
$size-font-h-6-bold-mobile: 18px;
$size-font-h-5-head-black: 24px;
$size-font-h-5-head-black-mobile: 22px;
$size-font-h-4-head-black: 32px;
$size-font-h-4-head-regular: 32px;
$size-font-h-4-head-black-mobile: 28px;
$size-font-h-4-head-regular-mobile: 28px;
$size-font-h-3-head-black: 40px;
$size-font-h-3-head-regular: 40px;
$size-font-h-3-head-black-mobile: 32px;
$size-font-h-3-head-regular-mobile: 32px;
$size-font-h-2-head-black: 60px;
$size-font-h-2-head-regular: 52px;
$size-font-h-2-head-black-mobile: 40px;
$size-font-h-2-head-regular-mobile: 40px;
$size-font-h-1-head-black: 68px;
$size-font-h-1-head-regular: 68px;
$size-font-h-1-head-black-mobile: 54px;
$size-font-h-1-head-regular-mobile: 54px;
$letter-spacing-basic: 0.78px;
$size-copytext: 16px;
$size-copytext-small: 14px;
$spacing-xxxxxs: 2px;
$spacing-xxxxs: 4px;
$spacing-xxxs: 8px;
$spacing-xxs: 12px;
$spacing-xs: 16px;
$spacing-s: 24px;
$spacing-m: 32px;
$spacing-l: 40px;
$spacing-xl: 48px;
$spacing-xxl: 56px;
$spacing-xxxl: 64px;
$spacing-xxxxl: 72px;
$spacing-xxxxxl: 80px;
$spacing-xxxxxxl: 96px;
$spacing-xxsxxxl: 148px;
$shadow-elevation-middle: 0px 10px 50px 10px rgba(0, 0, 0, 0.17);
$shadow-elevation-basic: 0px 3px 5px rgba(58, 64, 70, 0.1);
$spacing-1: calc(1rem * 0.25);
$spacing-3: calc(1rem * 0.75);
$spacing-4: calc(1rem * 1);
$spacing-5: calc(1rem * 1.5);
$textlink-text-size-default: 16px;


//css variables
/*:root{
    --color-artic-blue: $color-artic-blue;
    --color-yellow: $color-yellow;
    --color-blue:$color-blue;
    --color-black: $color-black;
    --color-white: $color-white;
    --color-steel-100: $color-steel-100;
    --color-steel-200: $color-steel-200;
    --color-steel-300: $color-steel-300;
    --color-steel-400: $color-steel-400;
    --color-steel-500: $color-steel-500;
    --color-steel-600: $color-steel-600;
    --color-steel-700: $color-steel-700;
    --color-steel-800: $color-steel-800;
    --color-steel-900: $color-steel-900;
    --color-clay: $color-clay;
    --color-clay-light: $color-clay-light;
    --color-clay-dark: $color-clay-dark;
    --color-leaf: $color-leaf;
    --color-leaf-light: $color-leaf-light;
    --color-leaf-dark: $color-leaf-dark;
    --color-slate: $color-slate;
    --color-slate-light: $color-slate-light;
    --color-slate-dark: $color-slate-dark;
    --color-terra: $color-terra;
    --color-terra-light: $color-terra-light;
    --color-terra-dark: $color-terra-dark;
    --color-ruby: $color-ruby;
    --color-ruby-light: $color-ruby-light;
    --color-ruby-dark: $color-ruby-dark;
    --color-warning: $color-warning;
    --color-warning-light: $color-warning-light;
    --color-success: $color-success;
    --color-success-light: $color-success-light;
    --color-font-base: $color-font-base;
    --font-liebherr-text-regular: $font-liebherr-text-regular;
    --font-liebherr-text-regular-italic:  $font-liebherr-text-regular-italic;
    --font-liebherr-text-medium: $font-liebherr-text-medium;
    --font-liebherr-text-medium-italic: $font-liebherr-text-medium-italic;
    --font-liebherr-text-condensed-regular: $font-liebherr-text-condensed-regular;
    --font-liebherr-text-condensed-bold: $font-liebherr-text-condensed-bold;
    --font-liebherr-text-bold: $font-liebherr-text-bold;
    --font-liebherr-text-bold-italic: $font-liebherr-text-bold-italic;
    --font-liebherr-head-regular: $font-liebherr-head-regular;
    --font-liebherr-head-black: $font-liebherr-head-black;
    --shadow-elevation-basic: $shadow-elevation-basic;
    --shadow-elevation-middle: $shadow-elevation-middle;
    --size-font-copy-regular: $size-font-copy-regular;
    --size-font-copy-regular-small: $size-font-copy-regular-small;
    --size-font-copy-regular-smaller: $size-font-copy-regular-smaller;
    --size-font-copy-regular-mobile:  $size-font-copy-regular-mobile;
    --size-font-copy-regular-small-mobile:  $size-font-copy-regular-small-mobile;
    --size-font-copy-regular-smaller-mobile: $size-font-copy-regular-smaller-mobile;
    --size-font-copy-bold: $size-font-copy-bold;
    --size-font-copy-bold-small: $size-font-copy-bold-small;
    --size-font-copy-bold-smaller: $size-font-copy-bold-smaller;
    --size-font-copy-bold-mobile: $size-font-copy-bold-mobile;
    --size-font-copy-bold-small-mobile: $size-font-copy-bold-small-mobile;
    --size-font-copy-bold-smaller-mobile: $size-font-copy-bold-smaller-mobile;
    --size-font-h-6-bold: $size-font-h-6-bold;
    --size-font-h-6-bold-mobile: $size-font-h-6-bold-mobile;
    --size-font-h-5-head-black: $size-font-h-5-head-black;
    --size-font-h-5-head-black-mobile: $size-font-h-5-head-black-mobile;
    --size-font-h-4-head-black: $size-font-h-4-head-black;
    --size-font-h-4-head-regular: $size-font-h-4-head-regular;
    --size-font-h-4-head-black-mobile:  $size-font-h-4-head-black-mobile;
    --size-font-h-4-head-regular-mobile: $size-font-h-4-head-regular-mobile;
    --size-font-h-3-head-black: $size-font-h-3-head-black;
    --size-font-h-3-head-regular: $size-font-h-3-head-regular;
    --size-font-h-3-head-black-mobile: $size-font-h-3-head-black-mobile;
    --size-font-h-3-head-regular-mobile: $size-font-h-3-head-regular-mobile;
    --size-font-h-2-head-black: $size-font-h-2-head-black;
    --size-font-h-2-head-regular: $size-font-h-2-head-regular;
    --size-font-h-2-head-black-mobile: $size-font-h-2-head-black-mobile;
    --size-font-h-2-head-regular-mobile:  $size-font-h-2-head-regular-mobile;
    --size-font-h-1-head-black: $size-font-h-1-head-black;
    --size-font-h-1-head-regular: $size-font-h-1-head-regular;
    --size-font-h-1-head-black-mobile: $size-font-h-1-head-black-mobile;
    --size-font-h-1-head-regular-mobile: $size-font-h-1-head-regular-mobile;
    --letter-spacing-basic: $letter-spacing-basic;
    --size-copytext-small: $size-copytext-small;
    --spacing-xxxxxs: $spacing-xxxxxs;
    --spacing-xxxxs: $spacing-xxxxs;
    --spacing-xxxs: $spacing-xxxs;
    --spacing-xxs:  $spacing-xxs;
    --spacing-xs: $spacing-xs;
    --spacing-s: $spacing-s;
    --spacing-m: $spacing-m;
    --spacing-l: $spacing-l;
    --spacing-xl: $spacing-xl;
    --spacing-xxl: $spacing-xxl;
    --spacing-xxxl: $spacing-xxxl;
    --spacing-xxxxl: $spacing-xxxxl;
    --spacing-xxxxxl: $spacing-xxxxxl;
    --spacing-xxxxxxl: $spacing-xxxxxxl;
    --spacing-xxsxxxl: $spacing-xxsxxxl;
    --shadow-elevation-middle: $shadow-elevation-middle;
    --shadow-elevation-basic: $shadow-elevation-basic;
    
}*/

*{
--color-artic-blue: #003057;
--color-yellow: #ffd000;
--color-blue: #2e8de5;
--color-black: #000000;
--color-white: #ffffff;
--color-steel-100: #f0f3f6;
--color-steel-200: #e5e8ed;
--color-steel-300: #d3d8dd;
--color-steel-400: #bdc4ca;
--color-steel-500: #9ea4ab;
--color-steel-600: #888e94;
--color-steel-700: #6b7278;
--color-steel-800: #51585d;
--color-steel-900: #3a4046;
--color-clay: #eb6f24;
--color-clay-light: #f89939;
--color-clay-dark: #b0542e;
--color-leaf: #2ea675;
--color-leaf-light: #5dbf90;
--color-leaf-dark: #33825e;
--color-slate: #5789a4;
--color-slate-light: #8bb2c2;
--color-slate-dark: #3b6579;
--color-terra: #aa8d6d;
--color-terra-light: #d1b795;
--color-terra-dark: #846554;
--color-ruby: #e34858;
--color-ruby-light: #f56e7c;
--color-ruby-dark: #ad0b37;
--color-warning: #e52828;
--color-warning-light: #f56e7c;
--color-success: #43a017;
--color-success-light: #73d95f;
--color-font-base: #000000;
--font-liebherr-text-regular: LiebherrText-Regular, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
--font-liebherr-text-regular-italic: LiebherrText-RegularItalic, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
--font-liebherr-text-medium: LiebherrText-Medium, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
--font-liebherr-text-medium-italic: LiebherrText-MediumItalic, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
--font-liebherr-text-condensed-regular: LiebherrText-CondensedRegular, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
--font-liebherr-text-condensed-bold: LiebherrText-CondensedBold, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
--font-liebherr-text-bold: LiebherrText-Bold, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
--font-liebherr-text-bold-italic: LiebherrText-BoldItalic, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
--font-liebherr-head-regular: LiebherrHead-Regular, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
--font-liebherr-head-black: LiebherrHead-Black, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
--liebherr-icons: "Liebherr-Icons";
--table-header-text-size: 20px;
--table-header-font-family: LiebherrHead-Black, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
--shadow-elevation-basic: 0px 3px 5px rgba(58, 64, 70, 0.1);
--shadow-elevation-middle: 0px 10px 50px 10px rgba(0, 0, 0, 0.17);
--size-font-copy-regular: 18px;
--size-font-copy-regular-small: 16px;
--size-font-copy-regular-smaller: 14px;
--size-font-copy-regular-mobile: 18px;
--size-font-copy-regular-small-mobile: 16px;
--size-font-copy-regular-smaller-mobile: 14px;
--size-font-copy-bold: 18px;
--size-font-copy-bold-small: 16px;
--size-font-copy-bold-smaller: 14px;
--size-font-copy-bold-mobile: 18px;
--size-font-copy-bold-small-mobile: 16px;
--size-font-copy-bold-smaller-mobile: 14px;
--size-font-h-6-bold: 18px;
--size-font-h-6-bold-mobile: 18px;
--size-font-h-5-head-black: 24px;
--size-font-h-5-head-black-mobile: 22px;
--size-font-h-4-head-black: 32px;
--size-font-h-4-head-regular: 32px;
--size-font-h-4-head-black-mobile: 28px;
--size-font-h-4-head-regular-mobile: 28px;
--size-font-h-3-head-black: 40px;
--size-font-h-3-head-regular: 40px;
--size-font-h-3-head-black-mobile: 32px;
--size-font-h-3-head-regular-mobile: 32px;
--size-font-h-2-head-black: 60px;
--size-font-h-2-head-regular: 52px;
--size-font-h-2-head-black-mobile: 40px;
--size-font-h-2-head-regular-mobile: 40px;
--size-font-h-1-head-black: 68px;
--size-font-h-1-head-regular: 68px;
--size-font-h-1-head-black-mobile: 54px;
--size-font-h-1-head-regular-mobile: 54px;
--letter-spacing-basic: 0.78px;
--size-copytext: 16px;
--size-copytext-small: 14px;
--spacing-xxxxxs: 2px;
--spacing-xxxxs: 4px;
--spacing-xxxs: 8px;
--spacing-xxs: 12px;
--spacing-xs: 16px;
--spacing-s: 24px;
--spacing-m: 32px;
--spacing-l: 40px;
--spacing-xl: 48px;
--spacing-xxl: 56px;
--spacing-xxxl: 64px;
--spacing-xxxxl: 72px;
--spacing-xxxxxl: 80px;
--spacing-xxxxxxl: 96px;
--spacing-xxsxxxl: 148px;
--shadow-elevation-middle: 0px 10px 50px 10px rgba(0, 0, 0, 0.17);
--shadow-elevation-basic: 0px 3px 5px rgba(58, 64, 70, 0.1);
--spacing-1: calc(1rem * 0.25);
--spacing-3: calc(1rem * 0.75);
--spacing-4: calc(1rem * 1);
--spacing-5: calc(1rem * 1.5);
--textlink-text-size-default: 16px;
}