/* You can add global styles to this file, and also import other style files */
@import '../../../assets/scss/patternlib-components.scss';
@import '../../../assets/scss/_variables';
@import '../../../assets/scss/mixins';
body {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding:0
}
.sidebar-container.minimize {
	width: 80px;
}
.sidebar-container {
	background: $color-white;
	height: 100%;
	width: 280px;
	z-index: 1000;
	box-shadow: $shadow-elevation-basic;
	display: flex;
    flex-flow: column;
    place-content: stretch space-between;
	// overflow-y: auto;
	li {
		>a {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			color: $color-black;
			font-family: arial;
			font-size: 14px;
			text-decoration: none;
			height: 80px;
		}
	}
	.nav-icon {
		position: relative;
		// display: table-cell;
		width: 60px;
		height: 36px;
		text-align: center;
		vertical-align: middle;
		font-size: 18px;
	}
	.nav-text {
		position: relative;
		// // display: table-cell;
		// vertical-align: middle;
		// width: 200px;
		font-family: $font-liebherr-text-bold;
		font-size: 12px;
		text-transform: uppercase;
        align-items: center;
        display: flex;
        height: 80px;
        justify-content: flex-start;
	}
	>ul.logout {
		position: absolute;
		left: 0;
		bottom: 0;
	}
}
.no-touch {
	.scrollable.hover {
		overflow-y: hidden;
		&:hover {
			overflow-y: auto;
			overflow: visible;
		}
	}
}
a {
	&:hover {
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
}
nav {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	ul {
		outline: 0;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	li {
		outline: 0;
		margin: 0;
		padding: 0;
	}
}



.sidebar-container {
	li {
		&:hover {
			
				color: $color-white;
				background-color: $color-clay-light;
			
		}
		ul.has-subnav {
			display: none;
		}
	}
	li.active {
		
			background-color: $color-yellow;
			color: $color-black;
		
		ul.has-subnav {
			/*display: table-cell;*/
			display: flex;
			flex-direction: column;
			li {
				&:hover {
					border-bottom: 1px solid $color-steel-100;
					>a {
						background-color: $color-steel-100;
						color: $color-black;
					}
				}
			}
		}
	}
	.logout {
		li {
			a {
				i {
					left: 135px;
				}
			}
			>a {
				background-color: $color-white;
				color: $color-black;
				height: 80px;
			}
			&:hover {
				>a {
					background-color: $color-white;
					color: $color-black;
					height: 80px;
				}
			}
		}
	}
	li.hover {
		ul.has-subnav {
			display: flex;
		}
	}
}
.sidebar-container.minimize {
	li {
		width: 80px;
		ul.has-subnav {
			display: none;
			li {
				width: 200px;
			}
		}
		&:hover {
			ul.has-subnav {
				display: flex;
				position: absolute;
				left: 200px;
				top: 0;
				box-shadow: $shadow-elevation-middle;
			}
		}
	}
	.sidebar-items {
		li {
			&:hover {
				position: relative;
				display: flex;
				min-width: 200px;
				border-bottom: 1px solid $color-clay-light;
				.nav-text {
					display: flex;
					 width: auto;
				}
			}
			.nav-text {
				display: none;
			}
		}
		li.active {
			ul {
				li {
					.nav-text {
						display: flex;
						padding-left: 0;
					}
				}
			}
		}
	}
	.logout {
		li {
			&:hover {
				position: relative;
				display: block;
				width: 60px;
				// .nav-text {

				// }
			}
			.nav-text {
				display: none;
			}
			a {
				i {
					transform: rotate(180deg);
					left: 0;
				}
			}
		}
	}
}
.sidebar-container li .expand-subitems-icon {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: center;
    width: 80px;
	i{
		font-size: 32px;
	}
}
.sidebar-container.minimize li .expand-subitems-icon{
	display: none;
  }
.sidebar-container li ul.has-subnav li:hover > a{
  background-color:$color-steel-100;
  color: $color-black
}
.sidebar-container li ul.has-subnav li a i{
  padding-left: 20px;
}
.sidebar-container.minimize li ul.has-subnav li a i{
  padding-left: 5px;
}
.sidebar-container .sidebar-items li {
  border-bottom: 1px solid $color-steel-200;
}

