@import "../../../../../../assets/scss/_variables";
.footer {
  background-color: $color-black;
  display: flex;
  width: 100%;
  .footer-portal {
    .footer-liebherr-icon {
      cursor: pointer;
      padding: 12px 40px 12px 0px;
      cursor: pointer;
      padding: 12px 40px 12px 0px;
    }
    .footer-portal-text {
      color: $color-white;
      display: flex;
      font-family: $font-liebherr-text-regular;
      font-size: 12px;
      line-height: 30px;
      div {
        padding-right: 40px;
        a {
          color: $color-white;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 120px 14px;
    width: 100%;
  }
}
