.liebherr-home {
    display: grid;
    grid-template-columns: 280px 1fr;
}
app-header {
    grid-column: span 2;
 }
.sidenav{
    min-height: 100vh
}
.container{
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
